{%extends "base.html"%}
{%load pglister%}
{%block content%}
<h1>Manage list {{list}}</h1>
<h2>Subscribers</h2>
<p>
From this form you can subscribe or unsubscribe users to the list.
<b>Always</b> make sure the user is informed of this and agrees to
being subscribed, and use the correct email address. The user will
be informed that you are the person who subscribed them to the list.
</p>
<p>
  Current subscriber count: <b>{{list.subcount}}</b>
</p>

<h3>View/unsubscribe/bounces</h3>
<form method="get" action="view/">
Search term: <input type="text" class="form-control" name="search">
<input class="btn btn-default" type="submit" value="View/unsubscribe/bounces">
</form>

<h3>Subscribe</h3>
<form method="post" action=".">{%csrf_token%}
<input type="hidden" name="op" value="sub">
Email address: <input type="text" class="form-control" name="subscriberemail">
<input class="btn btn-default" type="submit" value="Add subscriber">
</form>

<h2>Whitelist</h2>
<p>
The following addresses are currently whitelisted for the list
<i>{{list}}</i>.
</p>

<form method="post" action=".">{%csrf_token%}
<input type="hidden" name="op" value="wl">
<div class="container ltable">
{%for w in whitelist%}
{%if forloop.first%}
 <div class="row header hidden-xs">
  <div class="col-md-5">Address</div>
  <div class="col-md-2">Added</div>
  <div class="col-md-1">Remove</div>
 </div>
{%endif%}
 <div class="row">
   <div class="col-md-5">{{w.address}}</div>
   <div class="col-md-2">{{w.added_at}}</div>
   <div class="col-md-1"><input type="checkbox" name="delwl" value="{{w.id}}"></div>
 </div>
{%endfor%}
</div>{# container#}
<h4>Add email to whitelist</h4>
<div class="row">
  <div class="col-md-4">
    <input type="text" class="form-control" name="addemail">
  </div>
</div>

<p></p>

<input type="submit" class="btn btn-default" value="Update whitelist">
</form>

<p></p>
<a class="btn btn-default" href="/moderate/">Return to overview</a>

{%endblock%}
