{%extends "base.html"%}
{%load pglister%}
{% block extrahead %}
<script src="/media/js/jquery-1.12.4.min.js"></script>
<script src="/media/js/bootstrap.min.js"></script>
<script src="/moderate/moderate.js" async></script>
<link rel="manifest" href="/media/manifest/moderate.json" />
<style type="text/css">
    .popover{
        max-width:1000px;
    }
</style>
{{block.super}}
{% endblock %}
{%block content%}
<h1>Moderation</h1>

{%if user.is_superuser%}
{%if globalview%}
<p class="alert alert-info">This is the global moderation view. <a href=".">Back</a> to normal view.</p>
{%else%}
<p>As a superuser, you can also view the <a href="?global=1">global</a> view of all lists.</p>
{%endif%}
{%endif%}

{%if pendingdomains %}
<h2>Moderation queue by domain</h2>
<p>
  As you ar a superuser here is a list of the domains in the moderation queue, for your blacklisting pleasure.
</p>

<form method="post" action="blacklist_domains/">{%csrf_token%}
  <div class="row">
    <div class="col-md-4">
      <table class="table table-condensed table-striped">
	<tr>
	  <th>Domain</th>
	  <th class="text-right">Email count</th>
	  <th>Blacklist</th>
	</tr>
{%for d in pendingdomains%}
	<tr>
	  <td>{{d.addr}}</td>
	  <td class="text-right">{{d.num}}</td>
	  <td><input type="checkbox" name="domains" value="{{d.addr}}"></td>
	</tr>
{%endfor%}
      </table>
      <input class="btn btn-default" type="submit" value="Blacklist marked domains">
    </div>
  </div>
</form>

<h2>Moderation queue</h2>
{%endif%}

{%if modlist%}
<p>
The following moderation requests are pending for you:
</p>

<form method="post" action=".">{%csrf_token%}
{%if globalview%}<input type="hidden" name="global" value="1" />{%endif%}
<div class="container ltable">
{%for m in modlist%}
{%if forloop.first%}
 <div class="row header hidden-xs">
  <div class="col-md-4">Metadata</div>
  <div class="col-md-6">Message</div>
  <div class="col-md-2">Action</div>
 </div>
{%endif%}
 <div class="row">
   <div class="col-md-4">
       <b>Date: </b>{{m.moderatedat}}<br />
       <b>List: </b>{{m.listname}}<br />
       <b>Reason: </b>{{m.reason|moderation_reason:m.reasonextra}}<br/>
{%if m.previous_moderator%}
       <b>Status: </b>awaiting second moderator<br/>
{%endif%}
{%if m.spamscore%}
       <b>Spam score: </b>{{m.spamscore}}<br/>
{%endif%}
   </div>
   <div class="col-md-6">
       <b>Sender: </b>{{m.fromaddr}}{%if m.sender != m.fromaddr%} (envelope: {{m.sender}}){%endif%}<br />
       <b>Size: </b>{{m.size}}<br />
       <b>Subject: </b><a tabindex="0" role="button"
       data-toggle="popover" title="Preview"
       data-content="<strong>To: </strong>{{m.to|force_escape|force_escape}}<br/><strong>Cc: </strong>{{m.cc|force_escape|force_escape}}<br/><br/>{{m.intro|linebreaks|force_escape}}"
       data-html="true"
       data-placement="bottom">{{m.subject|default:"&lt;no subject&gt;"}}</a><br />
       <b>Message ID: </b><a tabindex="0" role="button" data-toggle="popover" title="Message ID" data-content="{{m.messageid}}" data-html="false" data-placement="bottom">Click</a>
   </div>
   <div class="col-md-2">
{%if m.approved%}
Message approved, awaiting delivery.
{%else%}
    <select name="act_{{m.id}}">
      <option value="0" selected>Ignore</option>
{%moderation_options m.reason m.is_subscribed %}
    </select><input placeholder="Rejection reason" type="text" name="r_{{m.id}}" class="form-control" style="display: none;">
{%endif%}
   </div>
 </div>
{%endfor%}
</div>{# container#}

<input type="submit" class="btn btn-default" value="Moderate">
<input type="reset" class="btn btn-default">
</form>

{%else%}
<p>Your moderation queue is empty!</p>
{%endif%}

{%if sublist%}
<h1>Subscriber moderation</h1>
<p>
The following subscriptions are pending moderator approval:
</p>
<form method="post" action=".">{%csrf_token%}
{%if globalview%}<input type="hidden" name="global" value="1" />{%endif%}
<input type="hidden" name="submod" value="1">
<div class="container ltable">
{%for m in sublist%}
{%if forloop.first%}
 <div class="row header hidden-xs">
  <div class="col-md-2">Date</div>
  <div class="col-md-1">List</div>
  <div class="col-md-2">Subscriber</div>
  <div class="col-md-4">Action</div>
 </div>
{%endif%}
 <div class="row">
  <div class="col-md-2">{{m.tokensent}}</div>
  <div class="col-md-1">{{m.listname}}</div>
  <div class="col-md-2">{{m.email}}</div>
  <div class="col-md-4">
    <select name="act_{{m.id}}">
      <option value="0" selected>Ignore</option>
      <option value="1">Approve</option>
      <option value="3">Discard</option>
      <option value="4">Reject</option>
    </select><input placeholder="Rejection reason" type="text" name="r_{{m.id}}" class="form-control" style="display: none;">
  </div>
 </div>
{%endfor%}
</div>
<input type="submit" class="btn btn-default" value="Moderate">
<input type="reset" class="btn btn-default">
</form>
{%endif%}

{%if bounces%}
<h1>Bounce processing</h1>
<p>
The following subscribers have more than 10% of the deliveries
bouncing in the past month:
</p>
<div class="container ltable">
{%for b in bounces%}
{%if forloop.first%}
<div class="row header">
 <div class="col-md-7">Subscriber</div>
 <div class="col-md-1">Bounces</div>
 <div class="col-md-1">Posts</div>
 <div class="col-md-1">Percent</div>
</div>
{%endif%}
{%ifchanged b.address%}
 <div class="row header">
  <div class="col-md-12">{{b.address}}</div>
 </div>
{%endifchanged%}
 <div class="row">
  <div class="col-md-7">{{b.email}}</div>
  <div class="col-md-1">{{b.bounces}}</div>
  <div class="col-md-1">{{b.deliveries}}</div>
  <div class="col-md-1">{{b.percentage}}%</div>
  <div class="col-md-2">
   <a class="btn btn-xs btn-default" href="bounces/{{b.list}}-{{b.subscriber}}/">Details</a>
   <form method="post" style="display:inline" action="bounces/{{b.list}}-{{b.subscriber}}/">{%csrf_token%}
    <input type="hidden" name="unsub" value="1" />
    <input type="submit" class="btn btn-xs btn-default" value="Unsubscribe" onclick="return confirm('Are you sure you want to unsubscribe this user?')">
   </form>
  </div>
 </div>
{%endfor%}
</div>

{%endif%}

{%if lists%}
<h1>List management</h1>
<p>
You are registered as a moderator of the following lists, and can make
configuration changes to them:
</p>
<ul>
{%for l in lists%}
  <li><a href="manage/{{l.id}}/">{{l}}</a></li>
{%endfor%}
</ul>
{%endif%}

{%if user.is_superuser%}
<h1>Global subscriber search</h1>
<p>
  Since you are a superuser, you can make a global search for subscribers,
  and perform cross-list unsubscriptions, if required. Be careful!
</p>
<form method="get" action="/moderate/manage/global/search/" class="form-inline">
  <div class="form-group">
    <label for="globalSearch">Search for</label>
    <input type="text" class="form-control" id="globalSearch" name="search" placeholder="Partial email address">
  </div>
  <input class="btn btn-default" type="submit" value="Search">
</form>

<h1>Thread blacklists</h1>
<p>
  Since you are a superuser, you can manage the list of blacklisted threads.
</p>
<a href="/moderate/manage/blackthreads/" class="btn btn-default">Manage blacklist</a>

<h1>Global blacklist</h1>
{%if blacklist_unused%}
<h2>Unused rules</h2>
<p>
  The following rules have not matched any email in the past {{blacklist_unused_interval.days}} days, and
  should perhaps be removed.
</p>
<form method="post" action="manage/delete_blacklist_entries/">{%csrf_token%}
<table class="table table-condensed table-striped">
  <tr>
    <th>Rule</th>
    <th>Matches</th>
    <th>Last match</th>
    <th>Delete rule</th>
  </tr>
{%for b in blacklist_unused %}
  <tr>
    <td>{{b.address}}</td>
    <td>{{b.usecount}}</td>
    <td>{{b.lastused|default:"Never"}}</td>
    <td><input type="checkbox" class="form-control" name="{{b.address}}" value="1"></td>
  </tr>
{%endfor%}
</table>
<input class="btn btn-default" type="submit" value="Delete selected rules">
</form>
{%endif%}

<h2>Top rules</h2>
<p>
  The following rules are the ones that have stopped the most email:
</p>
<table class="table table-condensed table-striped">
  <tr>
    <th>Rule</th>
    <th>Matches</th>
    <th>Last match</th>
  </tr>
{%for b in blacklist_top %}
  <tr>
    <td>{{b.address}}</td>
    <td>{{b.usecount}}</td>
    <td>{{b.lastused|default:"Never"}}</td>
  </tr>
{%endfor%}
</table>
{%endif%}


{%endblock%}
