{%extends "base.html"%}
{%block content%}
<h1>PostgreSQL mailing lists</h1>
<h2>Unsubscribe</h2>
<h3>With account</h3>
<p>
  If you have subscribed to a PostgreSQL mailinglist using your community account,
  the easiest way to unsubscribe is to use the
  <a href="/manage/">manage subscriptions</a> page, logged in to the
  same account. If you have lost your password, you can use the lost
  password feature of the login system to recover it.
</p>

<h3>Without account</h3>
<p>
  If your subscription was made without using a community account (for
  example, it was made before the integration of the two systems), if
  you are subscribed with an address that forwards to a different one
  making it difficult or impossible to detect the orignial address
  used, or if you have lost access to your community account, and you
  just want to stop receiving emails from the system, you can also
  unsubscribe without an account, using information present in one of
  the emails you received on the list.
</p>
<p>
  Each email contains a header with a unique key that lets you unsubscribe.
  Finding this header depends on the mail client you are using. Instructions
  for common clients are provided below:
</p>

<dl class="unsubhelp">
{%for client, instructions in client_instructions%}
 <dt>{{client}}</dt>
 <dd>{{instructions}}</dd>
{%endfor%}
</dl>

<p>
  Please note that if you are subscribed to multiple lists, you will
  need to repeat this process once for each list, as the key is unique.
</p>
{%endblock%}
