{%extends "admin/base.html"%}
{%block extrahead%}
<link rel="stylesheet" href="/media/jq/jquery-ui.css" type="text/css">
<link href="/media/selectable/css/dj.selectable.css" type="text/css" media="all" rel="stylesheet">
<script src="/media/js/jquery-1.12.4.min.js"></script>
<script src="/media/jq/jquery-ui.min.js"></script>
<script type="text/javascript" src="/media/selectable/js/jquery.dj.selectable.js"></script>
<style>
ul.selectable-deck li.selectable-deck-item a.selectable-deck-remove {
   float: none;
   margin-left: 10px;
}
</style>
{%endblock%}
